body {
    position: relative;
    right: 0px;
    overflow-x: hidden;
}

/* 头部部分开始 */
.header {
    height: 86px;
    background: url(../img/menu-top.jpg)
}

.header .header-logo {
    float: left;
    width: 96px;
    height: 96px;
    margin-top: 16px;
    background: url(../img/2.png)
}

.header .header-left-character {
    float: left;
    margin: 20px 13px;
}

.header .header-left-character-one {
    font-size: 26px;
    margin: 8px 0px 2px 0px;
    color: #E4E4E4;
}

.header .header-left-character-two {
    color: #929292;
}

.header .header-center-character {
    margin-left: 310px
}

.header .header-center-character a {
    display: block;
    height: 100%;
    color: #fff;
    font-size: 18px;
    padding: 33px 15px;
}

.header .header-center-character li {
    float: left;
}

.header .header-center-character a:hover {
    color: #e24b4e;
}

.header .header-icon {
    position: absolute;
    right: 50%;
    top: 18px;
    height: 50px;
    width: 135px;
    margin-right: -600px;
}

.header-icon a {
    display: block;
    width: 45px;
    height: 50px;
    float: left;
    position: relative;
    color: #000;
}

.header-icon .hd-service {
    background-position: -607px 8px;
}

.header-icon .xcx {
    background-position: -558px 8px;
}

.header-icon .gift {
    background-position: -655px 8px;
}

.shit {
    background: url(../img/sp.png)
}

.header-icon .header-service p {
    line-height: 52px;
}

.header-icon .header-service img {
    vertical-align: middle;
}


.header-icon .header-service {
    width: 246px;
    height: 109px;
    background: url(../img/bg-service.png) no-repeat top center;
    text-align: center;
    padding-top: 20px;
    position: absolute;
    top: 46px;
    left: -167px;
    display: none;
    font-size: 17px;
}

.hd-service:hover>.header-service {
    display: block;
}

.header-icon .header-xcx img {
    width: 130px;
    margin-bottom: 5px;
}

.header-icon .header-xcx {
    width: 179px;
    height: 191px;
    background-position: 0 -111px;
    text-align: center;
    padding-top: 23px;
    position: absolute;
    top: 46px;
    left: -118px;
    display: none;
}

.xcx:hover>.header-xcx {
    display: block;
}

.header-icon .header-gift {
    width: 209px;
    height: 121px;
    background-position: -193px -111px;
    position: absolute;
    top: 46px;
    left: -131px;
    display: none;
}

.gift:hover>.header-gift {
    display: block;
}

.header-icon .header-gift p {
    position: relative;
    right: -107px;
    top: -61px;
    width: 71px;
    font-size: 14px;
    padding-left: 14px;
}


.header-icon .header-gift img {
    margin: 19px 10px 0 15px;
}

/* 头部部分结束 */

/* 中间第一部分 */
.center-1 {
    height: 872px;
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

.center-1 .download-top {
    width: 451px;
    height: 175px;
    background-image: url(../img/bg-ewm.png);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 695px;
    z-index: 2;
}

.center-1 .download-one {
    position: absolute;
    width: 141px;
    height: 18px;
    left: 18px;
    top: 15px;
    animation: dong 6s infinite linear reverse;
}

.center-1 .download-two {
    width: 265px;
    padding-left: 170px;
    padding-top: 20px;
}

.center-1 .download-three {
    width: 265px;
    padding-left: 170px;
    padding-top: 20px;
}

.download-center {
    width: 1920px;
    left: 50%;
    top: 573px;
    margin-left: -960px;
    z-index: 1;
    position: absolute;
}

.download-center img {
    position: absolute;
}

.download-center .download-bottom-img1 {
    width: 284px;
    left: -1px;
    top: 150px;
    animation: bottom-img1 3.5s infinite
}

@keyframes bottom-img1 {
    0% {
        top: 150px;
    }

    50% {
        top: 180px;
    }

    100% {
        top: 150px;
    }
}

.download-center .download-bottom-img2 {
    width: 357px;
    left: 164px;
    top: 200px;
    animation: bottom-img1 3s infinite
}

@keyframes bottom-img2 {
    0% {
        top: 150px;
    }

    50% {
        top: 180px;
    }

    100% {
        top: 150px;
    }
}

.download-center .download-bottom-img3 {
    width: 373px;
    left: 800px;
    top: 122px;
    z-index: 1;
    animation: bottom-img1 3.5s infinite
}

@keyframes bottom-img3 {
    0% {
        top: 150px;
    }

    50% {
        top: 180px;
    }

    100% {
        top: 150px;
    }
}

.download-center .download-bottom-img4 {
    width: 357px;
    right: 578px;
    top: 185px;
    animation: bottom-img1 4s infinite
}

@keyframes bottom-img4 {
    0% {
        top: 150px;
    }

    50% {
        top: 180px;
    }

    100% {
        top: 150px;
    }
}

.download-center .download-bottom-img5 {
    width: 434px;
    right: 0px;
    top: 80px;
    animation: bottom-img1 3.5s infinite
}

@keyframes bottom-img5 {
    0% {
        top: 150px;
    }

    50% {
        top: 180px;
    }

    100% {
        top: 150px;
    }
}

.download-bottom {
    height: 299px;
    position: relative;
    z-index: 2;
    background-image: url(../img/bg0.png);
    background-repeat: no-repeat;
    background-position: top center;
    top: 580px;
    z-index: 1;
}

/* 中间第一部分结束 */

/* 中间第二部分开始 */
.center-2 {
    height: 664px;
    position: relative;
    top: 7px;
    z-index: 1;
    background-image: url(../img/bg1.jpg);
    background-position: top center;
}

.journalism {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.press-release {
    width: 720px;
    height: 123px;
    margin: 0 auto;
    position: relative;
    top: -63px;
    background-image: url(../img/title.png);
}

.journalism-left-center {
    width: 1249px;
    height: 378px;
}

.journalism-left {
    position: absolute;
    top: 90px;
    width: 236px;
    height: 304px;
    background-image: url(../img/bg-down-frame.png)
}

.journalism-left img {
    width: 160px;
    display: block;
    position: absolute;
    top: 25px;
    left: 38px;
}

.journalism-left .bells {
    width: 52px;
    position: absolute;
    left: 180px;
    top: -5px;
    z-index: 1;
}

.journalism-left .a1 {
    width: 171px;
    height: 93px;
    background: url(../img/sp.png) -434px -134px;
    position: absolute;
    top: 199px;
    left: 36px;
}

.journalism-right {
    width: 947px;
    height: 383px;
}

.journalism-right .right-01 {
    width: 753px;
    height: 303px;
    position: absolute;
    left: 245px;
    top: 92px;
}

.journalism-slideshow {
    width: 753px;
    height: 303px;
}

.journalism-bottom {
    float: left;
    width: 741px;
    height: 200px;
    background: url(../img/bg-news.png);
    position: absolute;
    top: 421px;

}

.journalism-bottom .hd-01,
.journalism-bottom .hd-02,
.journalism-bottom .hd-03,
.journalism-bottom .hd-04 {
    width: 130px;
    height: 47px;
}

.journalism-bottom .hd-01 a {
    background-position: -248px -438px;
}

.journalism-bottom .hd-02 a {
    background-position: 339px 1213px;
}

.journalism-bottom .hd-03 a {
    background-position: 226px 1213px;
}

.journalism-bottom .hd-04 a {
    background-position: 113px 1213px;
    width: 113px;
}

.journalism-bottom li a {
    display: block;
    height: 100%;
}

.hd-img {
    background: url(../img/sp.png);
}

.journalism-bottom-bd {
    width: 593px;
    height: 177px;
    position: absolute;
    top: 13px;
    left: 138px;
}

.journalism-bottom-bd li span {
    float: left;
}

.journalism-bottom-bd .bd-icon {
    display: block;
    width: 13px;
    height: 13px;
    background: url(../img/sp.png) no-repeat -687px -226px;
    margin: 12px 0 0 0;
}

.journalism-bottom-bd .bd-time {
    float: right;
    font-size: 15px;
    color: #b69e7a;
    position: relative;
    top: -26px;
    right: 16px;
    font-weight: normal;
}

.journalism-bottom-bd li {
    line-height: 35px;
    height: 35px;
    padding: 0 15px;
    overflow: hidden;
    font-size: 16px;
}

.journalism-bottom-bd li a {
    display: block;
    height: 100%;
}

.journalism-bottom-bd li p {
    color: #fff;
}

.journalism-bottom-bd p:hover {
    color: #d4926f;
}

.journalism-bottom .hd-05 {
    display: block;
    width: 253px;
    height: 200px;
    position: absolute;
    right: -270px;
    top: 1px;
    background-position: -1px 1286px;
}

/* 中间第二部分结束 */

/* 中间第三部分开始 */
.center-3 {
    height: 926px;
    background-image: url(../img/bg2.jpg)
}

.fuck {
    background-repeat: no-repeat;
    background-position: top center;
}

.center-3 .Ninja-standing {
    background-position: 0px 659px;
}

.Ninja-standing {
    width: 720px;
    height: 123px;
    margin: 0 auto;
    background: url(../img/title.png)
}

.scroll {
    margin-top: -70px;
    margin-left: -28px;
    position: absolute;
    z-index: 99;
}

.ninja-center {
    position: relative;
    top: -28px;
    right: -51px;
    width: 1518px;
    height: 590px;
    background: url(../img/scroll-mid.jpg) no-repeat right center;
}

.ninja-center .ninja-center-top {
    width: 652px;
    height: 78px;
    background-position: 0px -1004px;
    margin: 70px 0px 0px 180px;
    position: relative;
    top: 68px;
}

.ninja-center-top .ninja-choose {
    height: 100%;
}

.ninja-list {
    width: 652px;
    margin: 20px 0 0 180px;
    position: relative;
    top: 65px;
    height: 300px;
}

.ninja-list ul {
    height: 100%;
    overflow: hidden;
    margin-left: -40px;
}

.ninja-list li {
    float: left;
    position: relative;
    margin: 40px 0 0 50px;
    width: 108px;
    height: 106px;
    background: url(../img/bg-ninja.png) no-repeat 0 0;
}

.ninja-list li a {
    display: block;
    height: 100%;
}

.ninja-list li img {
    min-height: 100%;
    width: 100%;
}

.ninja-list .img-box {
    width: 78px;
    height: 78px;
    overflow: hidden;
    margin: 14px auto;
}

/* .ninja-list .img-box02 {
    width: 78px;
    height: 78px;
    overflow: hidden;
    margin: 14px auto;
    position: absolute;
    top: 0px;
    left: 15px;
} */

.ninja-list .ninja-label {
    width: 46px;
    height: 52px;
    display: block;
    background-position: -467px -542px;
    position: absolute;
    right: -18px;
    top: -40px;
}

/* .ninja-center-bottom {
    width: 652px;
    height: 300px;
    margin: 20px 0px 0px 180px;
    position: relative;
    top: 71px;
} */

.right-image {
    position: absolute;
    right: 10px;
    top: -119px;
    animation: image 3.5s infinite
}

@keyframes image {
    0% {
        top: -130px;
    }

    50% {
        top: -110px;
    }

    100% {
        top: -130px;
    }
}

/* 第三部分结束 */

/* 第四步分开始 */
.center-4 {
    height: 559px;
    background: url(../img/bg3.jpg)
}

.center-4 .center-4-con {
    width: 1000px;
    height: 580px;
    margin: 0 auto;
    position: relative;
}

.center-4-con-title {
    width: 720px;
    height: 123px;
    margin: 0 auto;
    background: url(../img/title.png) no-repeat 0px 0px;
}

.center-4-con .center-4-con-title {
    background-position: 0px -323px;
}

.center-4-tab {
    margin-top: 40px;
    height: 417px;
}

.center-4-tab .center-4-hd {
    height: 87px;
    background: url(../img/bg-game-center.png) no-repeat top center;
    text-align: center;
    position: relative;
}

.center-4-tab .center-4-hd li {
    height: 70px;
    line-height: 70px;
    width: 150px;
    margin: 17px 20px 0px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.center-4-tab .center-4-hd li a {
    color: #fff;
}

.center-4-bd {
    position: relative;
    height: 330px;
}

.center-4-tab1 {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}

.season-hd {
    position: relative;
    height: 65px;
}

.season-hd .season-arrows-img {
    left: -10px;
    background-position: -337px -636px;

}

.her {
    background: url(../img/sp.png)
}

.season-hd .season-arrows {
    width: 60px;
    height: 25px;
    display: block;
    position: absolute;
    top: 20px;
}

.season-hd .season-list {
    width: 850px;
    height: 100%;
    margin-left: 60px;
    overflow: hidden;
    position: relative;
}

.season-list li {
    float: left;
    font-size: 18px;
    font-weight: bold;
    width: 108px;
    text-align: center;
    line-height: 65px;
    position: relative;
}

.season-list .one {
    position: relative;
    left: 758px;
    top: -64px;
}

.season-hd .season-next-img {
    right: -12px;
    background-position: 459px -636px;
}

.wrestle-bd {
    position: relative;
    height: 330px;
}

.wrestle-tb {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.wrestle-left {
    float: left;
    width: 248px;
    height: 232px;
    overflow: hidden;
}

.wrestle-left img {
    display: block;
    width: 240px;
    min-height: 225px;
    margin: 3px auto;
}


.wrestle-left a {
    display: block;
    height: 100%;
    background: url(../img/bg-game-border.png) no-repeat top center;
    overflow: hidden;
}

.wrestle-news {
    float: left;
    width: 366px;
    margin-left: 34px;
}

.wrestle-news .wrestle-news-top {
    height: 71px;
    border: 1px solid #000;
    padding: 0px 14px;
    margin-bottom: 8px;
}

.wrestle-news-top h3 {
    overflow: hidden;
    height: 32px;
}

.wrestle-news-top h3 a {
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    line-height: 32px;
    display: block;
}

.wrestle-news-top h3 span {
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
}

.wrestle-news-top p {
    font-size: 14px;
    line-height: 16px;
}

.wrestle-news-top p strong {
    font-weight: normal;
    color: red;
    padding-left: 3px;
}

.strong01 {
    position: relative;
    left: 35px;
    top: -15px;
    font-size: 14px;
    font-weight: normal;
}

.wrestle-news ul {
    height: 150px;
    overflow: hidden;
}

.wrestle-news-img {
    display: block;
    width: 13px;
    height: 13px;
    background: url(../img/sp.png) no-repeat -687px -226px;
    margin: 12px 0px 0px 0px;
}

.wrestle-news .wrestle-news-img {
    margin-top: 9px;
    background-position: -687px -787px;
}

.wrestle-news li span {
    float: left;
}

.wrestle-news li p {
    float: left;
}

.wrestle-news li {
    height: 29.6px;
}

.wrestle-news-time {
    float: right;
}

.wrestle-news ul p {
    display: block;
    width: 313px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    padding-top: 7px;
}

.wrestle-news .wrestle-news-time01 {
    font-size: 16px;
    position: absolute;
    font-weight: normal;
    top: 88px;
}

.wrestle-news .wrestle-news-time02 {
    font-size: 16px;
    position: absolute;
    font-weight: normal;
    top: 118px;
}

.wrestle-news .wrestle-news-time03 {
    font-size: 16px;
    position: absolute;
    font-weight: normal;
    top: 149px;
}

.wrestle-news .wrestle-news-time04 {
    font-size: 16px;
    position: absolute;
    font-weight: normal;
    top: 177px;
}

.wrestle-news .wrestle-news-time05 {
    font-size: 16px;
    position: absolute;
    font-weight: normal;
    top: 207px;
}

.wrestle-video {
    float: right;
    width: 340px;
    height: 250px;
    overflow: hidden;
}

.wrestle-video img {
    display: block;
    width: 100%;
    min-height: 100%;
}

.wrestle-video li {
    float: left;
    width: 152px;
    overflow: hidden;
    margin: 0px 0px 10px 18px;
}

.wrestle-video p {
    line-height: 22px;
}

.video-img01 {
    width: 120px;
    height: 57px;
    background-position: -34px -731px;
    position: absolute;
    left: 0px;
    right: -506px;
    margin: 0 auto;
    top: 15px;
}

.video-img02 {
    width: 120px;
    height: 57px;
    background-position: -34px -731px;
    position: absolute;
    left: 0px;
    right: -830px;
    margin: 0 auto;
    top: 15px;
}

.video-img03 {
    width: 120px;
    height: 57px;
    background-position: -34px -731px;
    position: absolute;
    left: 0px;
    right: -506px;
    margin: 0 auto;
    top: 130px;
}

.video-img04 {
    width: 120px;
    height: 57px;
    background-position: -34px -731px;
    position: absolute;
    left: 0px;
    right: -833px;
    margin: 0 auto;
    top: 130px;
}

/* 中间第四部分结束 */

/* 中间第五部分开始 */
.center-5 {
    height: 831px;
    background: url(../img/bg4.jpg)
}

.strategy-con {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.strategy-title {
    width: 720px;
    height: 123px;
    margin: 0 auto;
    background: url(../img/title.png)
}

.center-5 .strategy-title {
    background-position: 0px -496px;
}

.strategy-tb .hd {
    width: 830px;
    margin: 45px auto 10px;
    position: relative;
}

.hr {
    background: url(../img/sp.png) no-repeat;

}

.strategy-tb .hd ul {
    height: 48px;
    width: 750px;
    overflow: hidden;
    text-align: center;
    background-position: 109px -1455px;
}

.strategy-tb .hd .one {
    background: url(../img/sp.png) no-repeat -417px -619px;
}

.strategy-tb .hd li {
    float: left;
    font-size: 20px;
    font-weight: bold;
    width: 123px;
    height: 100%;
    line-height: 48px;
}

/* 中间第五部分结束 */


/* 中间第六部分开始 */
.center-6 {
    height: 822px;
    background: url(../img/bg5.jpg)
}

.video-con {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.video-title {
    width: 720px;
    height: 123px;
    margin: 0 auto;
    background: url(../img/title.png) no-repeat 0px 0px;
}

.center-6 .video-title {
    background-position: 0px -667px;
}

.video-tab {
    margin-top: 20px;
}

.video-tab .video-hd {
    height: 65px;
    background: url(../img/bg-video-center.png) no-repeat top center;
    text-align: center;
    position: relative;
}

.video-tab .video-hd li {
    display: inline-block;
    width: 150px;
    line-height: 65px;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 10px 0px;
}

.video-tab .video-hd li a {
    color: #fff;
}

.video-bd {
    position: relative;
}

.video-tab .video-table {
    height: 400px;
    overflow: hidden;
    margin-top: 20px;
}

.video-tab .video-table {
    width: 100%;
    display: block;
    min-height: 100%;
}

.video-bd .video-table a {
    display: block;
    height: 150px;
}

.video-bd .video-table li {
    width: 240px;
    overflow: hidden;
    float: left;
    margin: 13px 0px 0px 10px;
}

.video-icon01 {
    width: 120px;
    height: 57px;
    background-position: -34px -731px;
    position: absolute;
    left: -743px;
    right: 0px;
    margin: 0 auto;
    top: 80px;
    margin-top: -29px;
}

.video-icon02 {
    width: 120px;
    height: 57px;
    background-position: -34px -731px;
    position: absolute;
    left: -222px;
    right: 0px;
    margin: 0 auto;
    top: 80px;
    margin-top: -29px;
}

.video-icon03 {
    width: 120px;
    height: 57px;
    background-position: -34px -731px;
    position: absolute;
    left: 270px;
    right: 0px;
    margin: 0 auto;
    top: 80px;
    margin-top: -29px;
}

.video-icon04 {
    width: 120px;
    height: 57px;
    background-position: -34px -731px;
    position: absolute;
    left: 760px;
    right: 0px;
    margin: 0 auto;
    top: 80px;
    margin-top: -29px;
}

.video-icon05 {
    width: 120px;
    height: 57px;
    background-position: -34px -731px;
    position: absolute;
    left: -743px;
    right: 0px;
    margin: 0 auto;
    top: 288px;
    margin-top: -29px;
}

.video-icon06 {
    width: 120px;
    height: 57px;
    background-position: -34px -731px;
    position: absolute;
    left: -233px;
    right: 0px;
    margin: 0 auto;
    top: 288px;
    margin-top: -29px;
}

.video-icon07 {
    width: 120px;
    height: 57px;
    background-position: -34px -731px;
    position: absolute;
    left: 257px;
    right: 0px;
    margin: 0 auto;
    top: 288px;
    margin-top: -29px;
}

.video-icon08 {
    width: 120px;
    height: 57px;
    background-position: -34px -731px;
    position: absolute;
    left: 753px;
    right: 0px;
    margin: 0 auto;
    top: 288px;
    margin-top: -29px;
}

.video-tab .video-bd p {
    padding-left: 23px;
    display: block;
    width: 221px;
    background: url(../img/bg-video-list.png) no-repeat left center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
    color: #410040;
    line-height: 35px;
}

.bottom {
    height: 367px;
    background: url(../img/botbg.png)
}

.bottom-wrap {
    width: 1000px;
    margin: 0 auto;
    height: 330px;
    font-family: Tahoma;
}

.bottom .bottom-service {
    width: 750px;
    height: 190px;
    margin: 0 auto;
}

.bottom .bottom-service li {
    float: left;
    padding-top: 40px;
    width: 248px;
    text-align: center;
}

.bottom .bottom-service li i {
    display: block;
    width: 44px;
    height: 44px;
    margin: 0 auto 6px;
}

.bottom .bottom-service h4 {
    margin-bottom: 6px;
    font-size: 18px;
    color: #e1e1e1;
    font-weight: 400px;
}

.bottom .bottom-service h4:hover {
    color: #ff0000;
}

.service-img {
    background: url(../img/foot_logo.png) no-repeat;
}

.bottom .donw {
    background-position: -443px -3px;
}

.bottom .wx {
    background-position: -489px -3px;
}

.bottom .fw {
    background-position: -535px -3px;
}

.bottom-left {
    float: left;
    width: 405px;
    line-height: 16px;
}

.bottom-logo {
    width: 440px;
    height: 45px;
    background-position: 0px 0px;
}

.bottom-left {
    color: #6F6F6F;
    padding-top: 10xp;
}

.bottom-right {
    float: right;
    width: 560px;
    color: #6F6F6F
}

.bottom .bottom-right p {
    line-height: 20px;

}

.bottom-right a {
    color: #6F6F6F
}

/* 底部部分结束 */

.broadside-nav {
    width: 180px;
    height: 488px;
    position: sticky;
    float: right;
    top: 20px;
    right: 0px;
    z-index: 99;
    background: url(../img/bg-aside.png);
}

.broadside-nav ul {
    width: 99px;
    height: 100%;
    float: right;
    padding: 15px 10px;
}

.broadside-nav li {
    text-align: center;
}

.broadside-nav a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 43px;
    background: url(../img/sp.png) no-repeat -479px -278px;
}

.broadside-nav a:hover {
    background-position: -595px -278px;
    transition: background-position .5s;
    color: #fff;
}

.broadside-nav .down-img {
    width: 95px;
}

a.her.a {
    background-position: -446px -90px;
    display: block;
    height: 27px;
}

li.lia {
    margin: 5px 0;
}

a.her.b {
    background-position: -597px -90px;
    display: block;
    height: 27px;
}

/* 风铃 */
.fenling {
    position: absolute;
    bottom: -195px;
    left: 71px;
    transform-origin: top center;
    animation: fenling 4s ease-in-out infinite;
}

@keyframes fenling {

    /* 位置旋转 */
    0% {
        transform: rotate(7deg);
    }

    50% {
        transform: rotate(-7deg);
    }

    100% {
        transform: rotate(7deg);
    }
}

/* 旋转木马 */
.wrap {
    width: 1200px;
    margin: 100px auto;
}

.slide {
    height: 500px;
    position: relative;
    width: 1200px;
}

.slide ul li {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.slide li img {
    width: 100%;
}


#left_btn {
    left: -2px;
    background: url(../img/arrow-left.png) no-repeat left center;
    display: block;
    width: 230px;
    height: 230px;
    position: absolute;
    top: 50px;
    z-index: 6;
}


#right_btn {
    right: 0px;
    background: url(../img/arrow-right.png) no-repeat left center;
    display: block;
    width: 230px;
    height: 230px;
    position: absolute;
    top: 50px;
    z-index: 6;
}