.top {
    width: 100%;
    height: 147px;
    background: url(../img/botbg.png);
    border-bottom: 1px #e2482c solid;
    position: relative;
}

.top .wrap {
    width: 1000px;
    margin: auto;
}

.logo {
    width: 290px;
    height: 103px;
    background: url(../img/common.png) no-repeat;
    position: absolute;
    left: 0;
    top: 25px;
}

.nav {
    width: 700px;
    height: 80px;
    position: absolute;
    right: 0;
    top: 30px
}

.nav li {
    width: 75px;
    height: 80px;
    float: left;
    margin-right: 50px;
    text-align: center;
    font-size: 16px;
}

.nav span {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto 20px;
    background: url(../img/common.png) 0 -785px;
}

.nav a {
    color: #fff;
}

.nav .n2 span {
    background-position: -44px -784px;
}

.nav .n3 span {
    background-position: -89px -784px;
}

.nav .n4 span {
    background-position: -134px -784px;
}

.nav .n5 span {
    background-position: -220px -784px;
}

.content {
    width: 100%;
    height: 295px;
    background: url(../img/con_top.jpg) center top no-repeat;
}

.content-top {
    width: 1000px;
    height: 330px;
    margin: auto;
    position: relative;
}

.sub-nav {
    width: 290px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 17px;
}

.sub-nav li {
    float: left;
    width: 115px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.sub-nav .li-two {
    position: absolute;
    right: 0;
}

.sub-nav .sub2 span {
    background-position: -333px -785px;
}

.sub-nav span {
    float: left;
    width: 28px;
    height: 28px;
    background: url(../img/common.png) no-repeat -299px -785px;
    margin-right: 10px;
}

.sub-nav .sn1 span {
    background-position: -299px -785px;
}

.sub-nav a {
    color: #fff;
}

.home {
    display: block;
    position: absolute;
    width: 170px;
    height: 65px;
    line-height: 65px;
    font-size: 24px;
    left: 5px;
    top: 88px;
}

.home span {
    float: left;
    width: 68px;
    height: 65px;
    background: url(../img/common.png) no-repeat -364px -710px;
}

.home {
    color: #fff;
}

.content-top .tit-news {
    width: 248px;
    height: 62px;
    background-position: -3px -1px;
}

.content-top h1 {
    position: absolute;
    right: 5px;
    top: 85px;
    background: url(../img/con_tit.png)no-repeat;
}

.news {
    width: 1000px;
    margin: 0 auto;
}

.news h1 {
    font-size: 36px;
    text-align: center;
    color: #000;
}

.news .sort {
    display: block;
    font-size: 18px;
    line-height: 64px;
    color: #818181;
    border-bottom: 1px dotted #818181;
    text-align: center;
}

.news .text {
    color: #333;
    font-size: 18px;
    line-height: 32px;
    padding: 10px;
}

.news .text p {
    padding: 10px 0;
}

.qrcode {
    width: 1000px;
    margin: auto;
    height: 205px;
    padding-top: 15px;
    border-top: 1px #939191 dotted;
    border-bottom: 1px #939191 dotted;
}

.qrcode ul {
    width: 450px;
    margin: auto;
    text-align: center;
}

.qrcode li {
    width: 225px;
    float: left;
    font-size: 18px;
    color: #0c182b;
}

.qrcode img {
    width: 130px;
    height: 130px;
    display: block;
    margin: 0 auto 25px;
}

.bottom {
    height: 367px;
    width: 100%;
    background: url(../img/botbg.png);
    position: absolute;
    bottom: -6200px;
}

.bottom-wrap {
    width: 1000px;
    margin: 0 auto;
    height: 330px;
    font-family: Tahoma;
}

.bottom .bottom-service {
    width: 750px;
    height: 190px;
    margin: 0 auto;
}

.bottom .bottom-service li {
    float: left;
    padding-top: 40px;
    width: 248px;
    text-align: center;
}

.bottom .bottom-service li i {
    display: block;
    width: 44px;
    height: 44px;
    margin: 0 auto 6px;
}

.bottom .bottom-service h4 {
    margin-bottom: 6px;
    font-size: 18px;
    color: #e1e1e1;
    font-weight: 400px;
}

.bottom .bottom-service h4:hover {
    color: #ff0000;
}

.bottom-service p {
    color: #6a6a6a;
    font-size: 12px;
}

.service-img {
    background: url(../img/foot_logo.png) no-repeat;
}

.bottom .donw {
    background-position: -443px -3px;
}

.bottom .wx {
    background-position: -489px -3px;
}

.bottom .fw {
    background-position: -535px -3px;
}

.bottom-left {
    float: left;
    width: 405px;
    line-height: 16px;
}

.bottom-logo {
    width: 440px;
    height: 45px;
    background-position: 0px 0px;
}

.bottom-left {
    color: #6F6F6F;
    padding-top: 10xp;
}

.bottom-right {
    float: right;
    width: 560px;
    color: #6F6F6F
}

.bottom .bottom-right p {
    line-height: 20px;

}

.bottom-right a {
    color: #6F6F6F
}